[submodule "boilerman"]
	path = boilerman
	url = https://github.com/SPoovathumkadavil/boilerman
[submodule "src-installer"]
	path = src-installer
	url = https://github.com/SPoovathumkadavil/src-installer
[submodule "loc-maker"]
	path = loc-maker
	url = https://github.com/SPoovathumkadavil/loc-maker
[submodule "fetalib"]
	path = fetalib
	url = https://github.com/SPoovathumkadavil/fetalib
